@charset "utf-8";

body {
  font-family: 'Black Han Sans', sans-serif;
  font-family: 'Inter', sans-serif;
}

:root {
  font-size: 16px;
  --mw: 1440px;
  --gap1: 16px;
  --gap2: 8px;
  --col-1: #ffa902;
  --col-2: #fcfcfc;
  --col-3: #585656;
  --col-4: #38423c;
  --col-5: #efb6b6;
  --col-6: #ffdcdc;
}
.mw {
  max-width: var(--mw);
  margin: auto;
}

/* header 영역 시작 */
.hd img {
  width: 100%;
}
.top_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--gap2) 0;
}
.top_nav .logo {
  width: 130px;
  padding-left: 0.5rem;
}
.gnb {
  flex-grow: 1;
  margin-left: 8rem;
  margin-top: 1.5rem;
}
.gnb a {
  font-size: 1.5rem;
  color: var(--col-3);
  margin-right: 5rem;
  position: relative;
  transition: 0.3s;
}
.gnb a::before {
  content: '';
  background-color: var(--col-1);
  width: 100%;
  height: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.3s;
}
.gnb a:hover {
  color: #000;
}
.gnb a:hover::before {
  height: 2px;
}
.fun {
  display: flex;
  margin-top: 0.625rem;
}
.fun a {
  padding: var(--gap1) var(--gap1) 0;
}

/* main 시작 */
/* sec1 */
.sec1 {
  background-image: url(./images/banner_01완.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
  padding: 12vw var(--gap1);
  position: relative;
}
.slogan {
  color: var(--col-2);
  font-size: 4rem;
  font-weight: bold;
  padding-bottom: 2rem;
}
.slogan_mobile {
  display: none;
}
.slogan_sp {
  color: var(--col-2);
  font-size: 1.5rem;
}
.mobile {
  display: none;
}

.btn_large {
  position: absolute;
  border-radius: 1rem;
  background-color: var(--col-1);
  color: var(--col-2);
  border: none;
  font-size: 2rem;
  padding: 1.5rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -2rem;
}

/* sec2 */
.sec2 {
  padding-top: 12vw;
  position: relative;
}
.sec2::before {
  content: '';
  position: absolute;
  background-image: url(./images/벚꽃2.png);
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(180deg);
  /* width: 13vw;
  height: 13vw; */
  width: 180px;
  height: 180px;
  top: 8vw;
  left: -12vw;
}
.sec2::after {
  content: '';
  position: absolute;
  background-image: url(./images/벚꽃2.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
  bottom: -2.5vw;
  right: -12vw;
}
.sec2_title {
  border-bottom: 3px solid var(--col-3);
  border-radius: 0.2rem;
  font-size: 2.25rem;
  line-height: 1.5;
  color: var(--col-3);
  position: relative;
  width: 16%;
}
.sec2_title::after {
  content: '';
  background-image: url(./images/술병1.png);
  background-size: cover;
  position: absolute;
  top: -2.3rem;
  left: 8rem;
  width: 6rem;
  height: 6rem;
}
.sec2_wrap {
  padding: 5vw 4vw;
  margin-bottom: 5vw;
  display: flex;
}
.sec2_right {
  padding: 1.5rem;
  padding-left: 5rem;
  width: 65%;
}
.sec2_left {
  width: 35%;
  padding-top: 32%;
  position: relative;
}
.sec2_left > img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.sec2_right span {
  font-weight: bold;
}
.sec2_lp {
  font-size: 2rem;
  color: var(--col-4);
  margin-bottom: 2vw;
}
.sec2_sp {
  font-size: 0.9rem;
  color: var(--col-4);
  padding-bottom: 0.5vw;
}
.sec2_btn {
  position: absolute;
  top: 73%;
  left: 42%;
  background-color: var(--col-5);
  padding: 0.8rem 1.5rem 0.8rem 1rem;
  border-radius: 1rem;
  color: var(--col-2);
}
.fa-circle {
  padding-right: 10px;
}
.sec2_btn:hover {
  color: var(--col-4);
  font-weight: bold;
}
.sec2_btn:hover .fa-circle {
  color: var(--col-6);
}

/* sec3 */
.bg {
  background-color: rgba(251, 227, 235, 26%);
}
.sec3 {
  border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  padding-top: 7vw;
}
.sec3 > * {
  /* border: 2px solid green; */
}
.sec3_title {
  width: 100%;
  border-radius: 0.2rem;
  font-size: 2.25rem;
  line-height: 1.5;
  color: var(--col-3);
  position: relative;
}
.sec3_title::after {
  content: '';
  background-image: url(./images/술병2.png);
  background-size: cover;
  position: absolute;
  top: -1.8rem;
  left: 9rem;
  width: 5rem;
  height: 5rem;
}
.sec3_left {
  width: 50%;
  padding-top: 7vw;
  padding-bottom: 7vw;
}
.sec3_sp {
  color: var(--col-4);
  font-size: 1.5rem;
  line-height: 1.5;
  padding-bottom: 4vw;
}
.sec3_lp {
  color: var(--col-4);
  font-size: 2.25rem;
  font-weight: bold;
  line-height: 1.5;
  padding-bottom: 3vw;
}
.sec3_lp strong {
  color: #ef6d7c;
}
.sec3_btn {
  background-color: var(--col-5);
  padding: 0.8rem 1.5rem 0.8rem 1rem;
  border-radius: 1rem;
  color: var(--col-2);
}
.sec3_right {
  width: 30%;
  align-self: center;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  transform: scale(0.8);
}
.img1 {
  grid-row: 1/2;
}
.img2 {
  grid-row: 1/3;
}
.img3 {
  grid-row: 2/4;
}
.img4 {
  grid-row: 3/4;
}
.sec3_right > div {
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.sec3_right img {
  width: 100%;
  height: 100%;
}
/* 반응형 */
@media (max-width: 1024px) {
  .gnb {
    margin-left: 30px;
  }
  .gnb a {
    margin-right: 3rem;
  }
  .pc {
    display: none;
  }
  .mobile {
    display: block;
  }
  .sec2_title {
    font-size: 1.5rem;
  }
  .sec2_title::after {
    top: -2.5rem;
    left: 5rem;
    width: 5rem;
    height: 5rem;
  }
  .sec2_lp {
    font-size: 1.5rem;
  }
  .sec2_sp {
    font-size: 0.6rem;
    padding-bottom: 0.3vw;
  }
  .sec2::after {
    width: 180px;
    height: 180px;
  }
  .sec2_btn {
    top: 78%;
    left: 44%;
    font-size: 0.9rem;
    padding: 0.6rem 1.2rem 0.6rem 1rem;
  }
}
@media (max-width: 768px) {
  .gnb {
    display: none;
  }
  .slogan {
    font-size: 3rem;
  }
  .slogan_sp {
    font-size: 1rem;
  }
  .btn_large {
    font-size: 1rem;
    padding: 1rem;
    bottom: -2rem;
  }
  .sec2 {
    display: none;
  }
}
@media (max-width: 425px) {
  .slogan_sp,
  .slogan {
    display: none;
  }
  .slogan_mobile {
    color: var(--col-1);
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 2rem;
    display: block;
  }
  .btn_large {
    font-size: 1rem;
    padding: 1rem;
  }
  .sec1 {
    background-image: url(./images/banner_mobile.png);
    background-size: 120%;
  }
}
